.header__row-links {
    max-width: 30px;
  }
  .header__row-links:nth-of-type(2) {
    width: 29px;
    margin-left: 18px;
  }
@media screen and (max-width: 758px) {
    .header__row-links {
      max-width: 22px;
      min-height: 20px;
    }
  }