.intro {
    margin: 92px auto 0;
    max-width: 984px;
  }
  @media screen and (max-width: 1270px) {
    .intro {
      max-width: 928px;
      padding: 0 48px;
    }
  }
  
  @media screen and (max-width: 1014px) {
    .intro {
      max-width: 720px;
      margin-top: 88px;
      padding: 0 24px;
    }
  }
  
  @media screen and (max-width: 758px) {
    .intro {
      max-width: 288px;
      margin-top: 64px;
      padding: 0 16px;
    }
  }